<div class="navbar-container">
  <nav class ="navbar">
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/items">Chat</a></li>
      <li><a href="/items">Chien</a></li>
      <li><a href="/items">Oiseau</a></li>
      <li><a href="/items">Lithophane 3D</a></li>
      <li><a href="/items">Nouveautés</a></li>
      <li><a href="/items">Promo</a></li>
      <% if user_signed_in? == false %>
        <li><a href="users/sign_in">Se connecter</a></li>
        <li><a href="users/sign_up">S'enregistrer</a></li>
      <% else %>
        <li><a href="users/<%= current_user.id %>">Mon profil</a></li>
        <li><%= link_to "Se déconnecter", destroy_user_session_path, data: { turbo_method: :delete } %></li>
      <% end %>
    </ul>
  </nav>
</div>
